body {
    background: #effffb;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #272727;
}

main {
    margin: 0 auto;
    width: 70em;
}

.row {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    }

.col {
    height: 50px;
    padding:0.3em;
    }

h1 {
    font-size: 3em;
    color: #206a5d;
    text-shadow: 2px 6px #ccf0e9;
    margin-left: 6.6em;
    width: 10em;
    }

div .outer-cont {
    display: flex;
    width: 50em;
    margin: 0 auto;
}

.cont-input {
    padding-right: 0.7em;
    align-items: center;
}

.wrap {
    margin-top: 4em;
}

h2 {
    color: #206a5d;
    margin-left: 1em;
    font-size: 1.7em
}

label {
    font-weight: 400;
    font-size: 0.75em;
    color: #848484;
    padding-left: 10px;
    }
    
input {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    color: #272727;
    width: 20em;
    outline: none;
    border: solid 1px #81b214;
    background: #fff;
    border-radius: 1em;
    box-shadow: 2px 4px #bfdcae;
    text-align: center;
    }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

input::placeholder {
    color: #d9d9d9;
    font-family: 'Share Tech Mono', monospace;
}

button {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    float: right;
    margin-right: 2.6em;
    color: #272727;
    padding: 0.5em;
    width: 15em;
    outline: none;
    border-radius: 1em;
    border: solid 2px #4a660b;
    background: #81b214;
    box-shadow: 4px 8px #4a660b;
}

button:hover {
    border: solid 2px #81b214;
    background: #bceb51;
    box-shadow: 4px 8px #81b214;
}

button:active {
    border: solid 2px #111;
    background: #444;
    box-shadow: 4px 8px #111;
    color: white;
}